.form {
  max-width: 50%;
  margin: 100px auto;
}

.form_title {
  color: #fff;
  text-shadow:
  0 0 1px #fff, 0 0 2px #fff,
  0 0 5px #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  letter-spacing: 3px;
}

.fieldset {
  max-width: 100%;
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-image: initial;
  box-shadow: 0 14px 28px rgba(79, 77, 77, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_container {
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  justify-self: flex-end;
}

.modal_title {
  max-width: 80%;
  color: #fff;
  font-size: 30px;
  align-self: center;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .form {
    margin: 50px auto;
  }

  .form_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .modal_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .form {
    max-width: 55%;
  }

  .form_title {
    font-size: 15px;
  }

  .modal_title {
    font-size: 15px;
  }
}